@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --cl-primary: #0f0b8d;
    --cl-primary-alt: #133ad9;
    --cl-secondary: #0daeda;
    --cl-third: #0d4976;
    --cl-black: #1e1e1e;
    --cl-white: #9397af;
    --cs-side-padding: 32px;
             

     
}

*:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgb(24, 134, 224) !important;
}

body {
    min-height: 100vh;
}

nav.main-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    background-color: var(--cl-primary);
    opacity: 0.7;
    backdrop-filter: blur(4px);
    box-shadow: 0 0 32px -8px var(--cl-black);
    padding: 0 var(--cs-side-padding);
}

nav.main-navigation a {
    color: var(--cl-black);
    text-decoration: none;
}

nav.main-navigation a.logo>p {
    display: none;
    font-weight: 600;
}

@media only screen and (min-width: 758px) {
    nav.main-navigation a.logo>p {
        display: block;
    }
    nav.main-navigation a.logo>svg {
        display: none;
    }
}

nav.main-navigation ul.navigation {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    list-style: none;
}

main.main-content {
    display: flex;
    flex-direction: column;
}

main.main-content>section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    padding: 0 var(--cs-side-padding);
}

main.main-content>section:nth-child(even) {
    background-color: var(--cl-secondary);
}

main.main-content>section:nth-child(odd) {
    background-color: var(--cl-third);
}

a.btn {
    padding: 8px 16px;
    border-radius: 8px;
    color: var(--cl-white);
    background-color: var(--cl-primary);
    text-decoration: none;
    transition-duration: .3s;
}

a.btn:hover {
    background-color: var(--cl-primary-alt);
    box-shadow: 0 0 16px -12px var(--cl-black);
}

section.add>form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 16px;
    flex-wrap: wrap;
}

@media only screen and (max-width: 758px) {
    section.add>form {
        flex-direction: column;
        align-items: center;
    }

    section.add>form>span {
        margin: 0 !important;
    }
}

section.add>form>span {
    width: 100%;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid rgb(144, 36, 36);
    background-color: rgba(144, 36, 36,.5);
    margin: 0 10vw;
    
}

section.add>form>span.active {
    animation: ToastAppear normal .7s;
}

section.add>form>span:not(.active){
    opacity: 0;
}

@keyframes ToastAppear{
    0%{
        opacity: 0;
        transform: scaleX(0);
    }

    100%{
        transform: scaleX(1);
        opacity: 1;
    }
}

section.add>form>div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

section.add>form>div label {
    font-size: .9em;
}

section.add>form>div select {
    height: 48px;
    border-radius: 8px;
    background-color: var(--cl-white);
    border: 4px solid var(--cl-primary);
    padding: 4px;
}

section.add>form>input[type="submit"] {
    height: 48px;
    border-radius: 8px;
    background-color: var(--cl-primary);
    border: 4px solid var(--cl-primary);
    padding: 4px 6px;
    color: var(--cl-white);
    cursor: pointer;
}

section.add>form>input[type="submit"]:hover {
    background-color: var(--cl-primary-alt);
    border-color: var(--cl-primary-alt);
}

#SummaryTable {
    border-collapse: collapse;
    width: 70%;
}

#SummaryTable *:is(th,
td) {
    padding: 8px 16px;
    text-align: left;
}

#SummaryTable tr {
    border-bottom: 1px solid var(--cl-primary);
    transition-duration: .3s;
}
